<!-- Страница канала -->

{% extends 'base.html' %}
{% load header %}
{% load cards %}
{% load static %}

{% block title %}
{{ channel.name }}
{% endblock title %}

{% block content %}
{% get_header 'channel' %}
<div class="container text-center">
    <p class="h1 user-select-all"> <img src="{{ channel.logo.url }}" style="border-radius: 50%" width="70px"
            alt="Логотип канала">{{ channel.name }}</p>
</div>
<hr>
<div class="container">
    {{ channel.description }}
    <p class="mt-2">
        Владелец:
        <mark>{{ channel.owner.username }}</mark>
    </p>
    <p class="mt-2">
        Общее количество видео:
        <mark>{{ count }}</mark>
    </p>
</div>
<hr>
<div class="container">
    <p class="h3">
        Все видео:
    </p>
    {% cards channel.video_set.all %}
</div>
<hr>
{% if channel.owner.username == request.user.username %}
<div class="container">
    <p class="h3">
        Загрузить видео
    </p>
    <form id="video-form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="video">Видео</label>
            <input type="file" name="video" class="form-control-file" id="video" accept="video/mp4" required>
        </div>
        <div class="form-group">
            <label for="poster">Постер</label>
            <input type="file" name="poster" class="form-control-file" id="poster"
                accept="image/jpeg,image/jpg,image/png,image/gif" required>
        </div>
        <div class="form-group">
            <label for="category">Категория</label>
            <select class="form-control" name="category" id="category">
                {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea name="description" id="description" rows="10" class="form-control" required></textarea>
            {% csrf_token %}
        </div>
        <input type="hidden" value="{{ channel.name }}" name="channel">
        <input type="submit" class="btn btn-outline-success" value="Загрузить">
    </form>
</div>
<hr>
{% endif %}
<script src="{% static 'js/channel_script.js' %}"></script>
{% endblock content %}